{% extends 'paginas/layout.html' %}

{% block content %}
<link rel="stylesheet" href="../../static/degradado.css" type="text/css">
<br><br><br>


<div class="row align-items-md-stretch justify-content-center">
    <div class="col-md-6">
        <div class="h-100 p-5 bg border rounded-3 text-white">
            <h2>Chat</h2>
            <p>
                Or, keep it light and add a border for some added definition
                to the boundaries of your content. Be sure to look under the
                hood at the source HTML here as we've adjusted the alignment and
                sizing of both column's content for equal-height.
            </p>
            <a href="/chats"><button class="btn btn-outline-info" type="button">
                    Comenzar a chatear
                </button></a>
        </div>
    </div>
</div>




{% endblock %}